<%= form_for(@shop) do |f| %>
    <% if @shop.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.messages.not_saved', count: @shop.errors.count, resource: Shop.model_name.human) %> </h2>

          <ul>
            <% @shop.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, label: "Nazwa", class: "textarea" %>
    </div>
    <div class="field">
      <%= f.text_field :street, label: "Ulica", class: "textarea"  %>
    </div>
    <div class="field">
      <%= f.text_field :city, label: "Miasto", class: "textarea"  %>
    </div>
    <div class="field">
      <%= f.text_field :email, label: "Email", class: "textarea"  %>
    </div>
    <div class="field" >
      <%= f.text_field :telephone, label: "Telefon", class: "textarea"  %>
    </div>
    <div class="actions">
      <%= f.submit "Utwórz Sklep" %>
    </div>
<% end %>

