<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @shop.street %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @shop.city %>
</p>

<p>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@shop.latitude}%2C#{@shop.longitude}" %>
</p>

<p>
  <strong>Email:</strong>
  <%= @shop.email %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @shop.telephone %>
</p>
<% if admin? %>
<%= link_to 'Edytuj', edit_shop_path(@shop) %> |
<% end %>
<%= link_to 'Powrót', shops_path, class: "button success" %>
