<p id="notice"><%= notice %></p>

<h3>Przeglądanie sklepu</h3>

<p >
  <strong>Średnia ocena użytkowników:</strong>
  <% if @shop.overall_rating == 0 %>
      <%= "brak ocen" %>
  <% else %>
    <div class="overall_rating_read_only" data-score= <%= @shop.overall_rating %> ></div>
<% end %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Ulica:</strong>
    <% if @shop.street.blank? %>
    <%= 'Nie podano' %>
  <% else %>
  <%= @shop.street %>
  <% end %>
</p>

<p>
  <strong>Miasto:</strong>
    <% if @shop.city.blank? %>
    <%= 'Nie podano' %>
  <% else %>
  <%= @shop.city %>
  <% end %>
</p>
<strong>Mapa dojazdu: </strong>
<br > </br>
<p>
        <% if @shop.city.blank? || @shop.street.blank? %>
        <%= 'Brak mapy, gdyż nie podano ulicy lub miasta' %>
  <% else %>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@shop.latitude}%2C#{@shop.longitude}" %>
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <% if @shop.email.blank? %>
  <%= 'Nie podano' %>
  <% else %>
  <%= @shop.email %>
  <% end %>
</p>

<p>
  <strong>Telefon:</strong>
  <%= @shop.telephone %>
</p>




<%= link_to 'Powrót do Sklepów', shops_path, class: "button success" %> <%= link_to 'Powrót do Paragonów', receipts_path, class: "button" %>
