<%= form_for @complaint  do |f| %>
    <% if @complaint.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.messages.complaint', count: @complaint.errors.count, resource: t("models.complaint.one")) %> </h2>

          <ul>
            <% @complaint.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <div class="large-12 columns">

        <%= f.text_area :reason, label: "Powód reklamacji", class: "complaint" %>

      </div>
    </div>

    <div class="field">
      <div class="small-3 columns">
        <%= f.collection_select :article_id, current_user.articles.where('already_complained=false'), :id, :name_with_brand, {:prompt => "Wybierz artykuł"} %>
      </div>
    </div>



    <div class="actions">
      <div class="large-12 columns">
        <%= f.submit "Utwórz Reklamacje" %>
      </div>
    </div>


<% end %>
