<%= form_for @complaint_review  do |f| %>
    <% if @complaint_review.errors.any? %>
        <div id="error_explanation">
          <h2><%= t('errors.messages.complaint', count: @complaint_review.errors.count, resource: t("models.complaint_review.one")) %> </h2>

          <ul>
            <% @complaint_review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">

        <div class="small-3 columns">
        <%= f.collection_select :complaint_id, current_user.complaints.where('complaint_status_id BETWEEN 4 AND 5 AND already_reviewed=false'), :id, :reason, {:prompt => "Wybierz reklamacje"}%>
        </div>

    </div>


    <div class="field">
      <div class="large-12 columns">
        <br>
        Czas rozpatrzenia
        <div id="examination_time"></div>
        <br>


      </div>
    </div>

    <div class="field">
      <div class="large-12 columns">
        <br>
        Stosunek do klienta
        <div id="client_approach"></div>
        <br>


      </div>
    </div>

    <div class="field">
      <div class="large-12 columns">
        <br>
        Zadowolenie
        <div id="satisfaction"></div>
        <br>


      </div>
    </div>

    <div class="field">
      <div class="large-12 columns">
        <%= f.text_area :comment, label: "Komentarz", class: "complaint" %>
      </div>
    </div>


    <div class="actions">
      <div class="large-12 columns">
        <%= f.submit "Utwórz Ocene reklamacji" %>
      </div>
    </div>


<% end %>
