<h3>Przeglądanie złożonej oceny reklamacji</h3>

<p >
  <strong>Powód reklamacji:</strong>

      <%= @complaint_review.complaint.reason %>

</p>

<p >
  <strong>Ocena czasu rozpatrzenia reklamacji:</strong>

<div class="examination_time_read_only" data-score= <%= @complaint_review.examination_time %> ></div>

</p>

<p >
  <strong>Ocena stosunku do klienta podczas reklamacji:</strong>

<div class="client_approach_read_only" data-score= <%= @complaint_review.client_approach %> ></div>

</p>

<p >
  <strong>Zadowolenie klienta z przebiegu reklamacji:</strong>

<div class="satisfaction_read_only" data-score= <%= @complaint_review.satisfaction %> ></div>

</p>


<p >
  <strong>Komentarz dotyczacy oceny reklamacji:</strong>

  <%= @complaint_review.comment %>

</p>









