<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "System Zarządzania Paragonami", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if !signed_in? %>
          <li class="divider"></li>
          <li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Zaloguj się", new_user_session_path %></li>
      <% else %>
          <li class="has-dropdown">
            <a href="#">Sklepy</a>
            <ul class="dropdown">
              <li><%= link_to "Przeglądaj", shops_path %></li>
              <li><%= link_to "Dodaj nowy", new_shop_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Paragony</a>
            <ul class="dropdown">
              <li><%= link_to "Przeglądaj", receipts_path %></li>
              <li><%= link_to "Dodaj nowy", new_receipt_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Reklamacje</a>
            <ul class="dropdown">
              <li><%= link_to "Przeglądaj", complaints_path %></li>
              <li><%= link_to "Dodaj nową", new_complaint_path %></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><%= link_to "Profil", edit_user_registration_path %></li>
          <li><%= link_to "Wyloguj się", destroy_user_session_path%></li>
      <% end %>
    </ul>
  </section>
</nav>
