<!DOCTYPE html>
<html>
<head>
  <title>System Zarządzania Paragonami</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "System Zarządzania Paragonami", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if !signed_in? %>
      <li class="divider"></li>
      <li><%= link_to "Zarejestruj się", new_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Zaloguj się", new_user_session_path %></li>
          <% else %>
          <li class="has-dropdown">
            <a href="#">Sklepy</a>
            <ul class="dropdown">
              <li><%= link_to "Przeglądaj", shops_path %></li>
              <li><%= link_to "Dodaj nowy", new_shop_path %></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#">Paragony</a>
            <ul class="dropdown">
              <li><%= link_to "Przeglądaj", receipts_path %></li>
              <li><%= link_to "Dodaj nowy", new_receipt_path %></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><%= link_to "Profil", edit_user_registration_path %></li>
          <li><%= link_to "Wyloguj się", destroy_user_session_path, :method => :delete %></li>
          <% end %>
    </ul>
  </section>
</nav>

<div class="container">
  <div class="row">
    <div class="twelve columns">
      <% flashes = {notice: 'success', alert: 'standard', error: 'alert', secondary: 'info'} %>
      <% flashes.each do |key, value| %>
          <% if flash[key] %>
              <%= content_tag :div, :data => { :alert => '' }, :class => "alert-box #{value} radius" do %>
                  <%= flash[key] %>
                  <%= link_to '&times;'.html_safe, '#', :class => 'close'%>
              <% end %>
          <% end %>
      <% end %>
    </div>
    </div>
  </div>
<%= yield %>
</body>
</html>
